@import url("./pager.css");

.context_container {
  color: #ffffff12;
  font-weight: bold;
  font-size: 2em;
  width: 60vw;
  height: 35vw;
  background: url(./partyAnimals.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 35vw;
}